.cart-block {
  display: flex;
  align-items: center;
  margin-right: 30px;

  &:hover {
    cursor: pointer;
  }

  &__icon {
    margin-right: 10px;
  }

  &__price {
    font-weight: 600;
    color: #5C5C5C;
  }
}